includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/

    level: 9

    # Despite of not being in the path, this may appear here because of the pre-commit husky hook.
    excludePaths:
        - .phpstorm.meta.php
        - _ide_helper.php
        - config/
        - app/Http/Controllers/Auth/

    # Laravel specific
    checkModelAppends: true
    noModelMake: true
    noUnnecessaryCollectionCall: true
    checkUnusedViews: false
    noEnvCallsOutsideOfConfig: true
    checkModelProperties: true

    ignoreErrors:
           # Ignore this macro for now, but we need to make it work with the ide-helpers.stub.php
         - "#^Call to function method_exists\\(\\) with '.+' and 'getDefault' will always evaluate to .+\\.$#"

